<div class="userProfile">
	<p>Welcome to your space <b>{{user.firstName}}</b></p>
	<h3>Get the best quality home <a href="/services">services</a> near you</h3>
	<p>On this page, feel free to add services that you are able to offer, if
		any. Otherwise you can make a request to any needed service and you will
		get the best help in your neighborhood.</p>
	<div class="body-profile">
		<div>
			<h2>{{user.expertise}}</h2>
			<h4>{{user.description}}</h4>
		</div>
		<div>
			<h3>{{user.firstName}} {{user.lastName}}</h3>
			<img
				class="profile-Img"
				src="{{user.img_url}}"
				alt="profile picture"
			/>
		</div>
	</div>
	<div class="profile-btn">
		<form action="/requests" method="GET">
			<button type="submit" class="btn btn-warning">Your Requests</button>
		</form>
		<form action="/{{user._id}}/edit" method="GET">
			<button type="submit" class="btn btn-warning">Edit Profile</button>
		</form>

		<form action="/{{user._id}}/services/new" method="GET">
			<button type="submit" class="btn btn-warning">Add Service</button>
		</form>
	</div>
</div>