{{#each user}}
	<div class='userProfile'>
		<p>Welcome to your space <b>{{this.firstName}}</b></p>
		<h3>Get the best quality home services near you</h3>
		<h3>You can update your own profile to attract more clients.</h3>
		<div class='body-profile'>
			<div>
				<h2>{{this.expertise}}</h2>
				<h4>{{this.description}}</h4>
			</div>
			<div>
        <h3>{{this.firstName}}  {{this.lastName}}</h3>
				<img
					class='profile-Img'
					src='{{this.img_url}}'
					alt='profile picture'
				/>
			</div>
		</div>
		<div class='profile-btn'>
			<form action='/{{this._id}}/edit' method='GET'>
				<button type='submit' class='btn btn-warning'>Edit Profile</button>
			</form>

			<form action='/{{this._id}}/newService' method='GET'>
				<button type='submit' class='btn btn-warning'><a
						href='/services/new'
					>Add Service</a></button>
			</form>
		</div>
	</div>
{{/each}}
{{> footer}}