<h2>Service Details</h2>

{{#if service}}

	<div class="row">
		<div class="col">
			<h4>{{service.name}}:</h4>
			<img
				id="image-of-service"
				src="/services/images/{{service.serviceImage.filename}}"
			/>
		</div>

		<div class="col offset-1">
			<h5>Service Provider:</h5>
			<div class="field">{{firstName}} {{lastName}}</div>
			<h5>Description:</h5>
			<div class="field">{{service.description}}</div>
			<h5>Address:</h5>
			<div class="field">{{service.address}}</div>
			<h5>Time:</h5>
			<div class="field">{{service.time}}</div>
			<h5>Price:</h5>
			<div class="field">{{service.price}}</div>
			<div class="col offset-3">
				{{#if isServiceProvider}}
			<a
				href="/services/edit/{{service.id}}"
				class="btn btn-primary"
			>Edit this service</a>	
			{{else}}
			<a
				href="/customer/history"
				class="btn btn-primary"
			>Request this service</a>	
			{{/if}}
			</div>
	</div>
		</div>
	</div>
	<div class="row mb-4">
		

	{{! <button>Request the Service</button> }}
{{/if}}