<button>Home Page</button>

<h2>{{this.name}}</h2>
<p>{{this.description}}</p>
<h3>Photo Gallery</h3>
<ul>
	<li>{{this.photos}}</li>
</ul>
<h4>{{this.price}}</h4>
<h4>{{this.address}}</h4>
<div>
	<!--here comes the contact info-->
</div>

<button>Request the Service</button>