<h2>Service Detail</h2>

{{#if service}}
	<section>
		<div class='row'>
			<div class='col-3'>Image:</div>
			<div class='col'>{{service.serviceImage}}</div>
		</div>
	</section>
	<div class='row'>
		<div class='col-3'>Name:</div>
		<div class='col'>{{service.name}}</div>
	</div>
	<div class='row'>
		<div class='col-3'>Description:</div>
		<div class='col'>{{service.description}}</div>
	</div>
	<div class='row'>
		<div class='col-3'>Address:</div>
		<div class='col'>{{service.address}}</div>
	</div>
	<div class='row'>
		<div class='col-3'>Time:</div>
		<div class='col'>{{service.time}}</div>
	</div>
	<div class='row'>
		<div class='col-3'>Price:</div>
		<div class='col'>{{service.price}}</div>
	</div>

	<p>
		<a href='/services/edit/{{service.id}}' class='btn btn-primary'>Edit</a>
	</p>

	{{! <button>Request the Service</button> }}
{{/if}}