<h2>Service Details</h2>

{{#if service}}
	<div class="row mb-4">
		<div class="col">
			<a
				href="/services/edit/{{service.id}}"
				class="btn btn-primary"
			>Edit</a></div>
	</div>
	<div class="row">
		<div class="col">
			<h5>{{service.name}}:</h5>
			<img
				id="image-of-service"
				src="/services/images/{{service.serviceImage.filename}}"
			/>
		</div>

		<div class="col offset-1">
			<h5>Description:</h5>
			<div class="field">{{service.description}}</div>
			<h5>Address:</h5>
			<div class="field">{{service.address}}</div>
			<h5>Time:</h5>
			<div class="field">{{service.time}}</div>
			<h5>Price:</h5>
			<div class="field">{{service.price}}</div>
		</div>
	</div>

	{{! <button>Request the Service</button> }}
{{/if}}