<h2>Add or edit a service</h2>

<form
	method="post"
	action="/api/services/{{service.id}}"
	enctype="multipart/form-data"
>
	<div class="form-group">
		<label for="name">Name:</label>
		<input
			name="name"
			value="{{service.name}}"
			type="text"
			class="form-control"
			id="name"
		/>
	</div>
	<div class="form-group">
		<label for="name">Category</label>
		<select name="category" id="category">
			<option value="cleaning">Cleaning</option>
			<option value="construction">Construction</option>
			<option value="electronics">Electronics</option>
			<option value="plumbing">Plumbing</option>
			<option value="electrical">Electrical</option>
			<option value="moving">moving</option>
			<option value="painting">Painting</option>
			<option value="massage">Body Massage</option>
			<option value="mechanical">Mechanical</option>

		</select>
	</div>
	<div class="form-group">
		<label for="description">Description:</label>
		<input
			name="description"
			value="{{service.description}}"
			type="text"
			class="form-control"
			id="description"
		/>
	</div>
	<div class="form-group">
		<label for="address">Address:</label>
		<input
			name="address"
			value="{{service.address}}"
			type="text"
			class="form-control"
			id="address"
		/>
	</div>
	<div class="form-group">
		<label for="time">Time:</label>
		<input
			name="time"
			value="{{service.time}}"
			type="text"
			class="form-control"
			id="time"
		/>
	</div>
	<div class="form-group">
		<label for="price">Price/Hour:</label>
		<input
			name="price"
			value="{{service.price}}"
			type="text"
			class="form-control"
			id="price"
		/>
	</div>
	<div class="form-group">
		<label for="image">Images:</label>
		<input
			type="file"
			name="serviceImage"
			value="{{service.serviceImage}}"
		/>
	</div>
	{{! accept="image/png, image/jpg" }}

	<button type="submit" class="btn btn-primary">Submit</button>
</form>