<div class="detailsPage">

	<h1>Provided services</h1>
	<a href="/services/new" class="btn btn-primary">Add Service</a>
	<br />
	<br />
	<table class="table service-list">
		<thead>
			<tr>
				<th>Name</th>
				<th>Service Provider</th>
				<th>Category</th>
				<th>Time</th>
				<th>Price</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each services as |service|}}
				<tr>
					<td>{{service.name}}</td>
					<td>{{service.serviceProvider.firstName}}
						{{service.serviceProvider.lastName}}</td>
					<td>{{service.category}}</td>
					<td>{{service.time}}</td>
					<td>{{service.price}}</td>
					<td>
						<a href="/services/{{service.id}}">Detail</a>
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>